<h1>Stupid Coaching</h1>
<blockquote class="blockquote">
  <p><%= @question %></p>
  <p><i>—You</i></p>
</blockquote>

<blockquote class="blockquote">
  <p><b><%= @answer %></b></p>
  <p><i>—Your coach, with love ❤️</i></p>
</blockquote>

<p><%= link_to "Ask a new question", ask_path %></p>
